<!DOCTYPE html>
<html lang="es">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles_about_us.css">

</head>

<body>

<div class="header">
  <h1>Outlet Car</h1>
  <p>Especialistas en <b>ventas</b> de coches.</p>
</div>

<div class="navbar">
   <a href="principal.html" >Inicio</a>
  <a href="#">Información</a>
  <a href="about_us.html"class="active" >About us</a>
</div>
  <div class="main">
    <h1>About Us </h1>
    <br />
    <h2>Somos una web que anuncia coches en venta.</h2>
    <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
    <figure>
        <img src="../media/ctc.png" height="200">
        <figcaption>Aitor Bonilla y Eduardo Rodriguez.</figcaption>
    </figure>
    <p>Estos son dos de nuestros muchos grandes empleados.</p>
    <br>
    <h2>La gran importancia del cliente para nosotros.</h2>
    <figure>
        <img src="../media/ctc2.png" height="200">
        <figcaption>Uno de nuestros clientes, bien satisfecho.</figcaption>
    </figure>
    <p>Para nosotros los clientes son muy importantes, por eso repartimos un cuestionario con cada venta de coche para saber qué les ha parecido el trato.</p>
  </div>
</div>

<footer class="footer">
              <p class="m-0 text-dark text-center "
              align="center">
              Copyright &copy; BM Romo</p>
</footer>

</body>
</html>
