{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}Inicio{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
		<div class="container-fluid">
        <a class="navbar-brand" href="" >MotorSite</a><!--faltan cosas cuidado-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">About</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">Policy</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




	{% block content %}
	
	{% endblock content %}
</body>
</html>